@import url(https://fonts.googleapis.com/css?family=Roboto);
.page-login-v3:before {
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: cover;
  z-index: -1;
  background: #f3f3f3;
}

.page-login-v3 .panel {
  width: 400px;
  margin-top: 20%;
  /* margin-bottom: 45px; */
  background: #fff;
  border-radius: 0.286rem;
}

.page-login-v3 .panel .panel-body {
  padding: 50px 40px 40px;
}

.page-login-v3 .panel .brand-text {
  margin-top: 8px;
}

.page-login-v3 form {
  margin: 45px 0 30px;
}

.page-login-v3 form a {
  margin-left: 20px;
}

.page-login-v3 form .form-material.floating+.page-login-v3 form .form-material.floating {
  margin-top: 30px;
}

.page-login-v3 form .form-material label {
  color: #a3afb7;
  font-weight: 300;
}

.page-login-v3 .checkbox-custom {
  margin-top: 0;
  padding-left: 0;
}

.page-login-v3 .brand {
  width: 140px;
  height: 140px;
  /* position: absolute; */
  margin: 0 auto;
  margin-top: -120px;
}

@media (max-width: 479.98px) {
  .page-login-v3 .page-content {
    padding: 30px 20px;
  }
  .page-login-v3 .panel {
    width: auto;
    padding: 10px;
  }
  .page-login-v3 .panel .panel-body {
    padding: 35px 25px 35px;
  }
}
.profile-block .card-block {
  padding: 40px 15px;
  /* background-color: #fff; */
}

.profile-block .card-footer {
  padding: 10px;
  background-color: #f6f9fd;
  border-top: none;
}

.profile-block .card .avatar {
  width: 120px;
  margin-bottom: 10px;
}

.profile-block .profile-user {
  margin-bottom: 10px;
  color: #263238;
}

.profile-block .profile-job {
  margin-bottom: 20px;
  color: #a3afb7;
}

.profile-block .profile-social {
  margin: 25px 0;
}

.profile-block .profile-social .icon {
  margin: 0 10px;
  color: rgba(55, 71, 79, 0.4);
}

.profile-block .profile-stat-count {
  display: block;
  margin-bottom: 3px;
  color: #526069;
  font-size: 20px;
  font-weight: 100;
}

.profile-block .profile-stat-count+span {
  color: #a3afb7;
}

.profile-block .page-content .list-group-item {
  padding: 25px 15px;
  border-top-color: #e4eaec;
}

.profile-block .page-content .list-group-item:first-child {
  border-top: transparent;
}

.profile-block .page-content .list-group-item:last-child {
  border-bottom-color: #e4eaec;
}

.profile-block .page-content .list-group-item .media .avatar {
  width: 50px;
}

.profile-block .page-content .list-group-item .media small {
  color: #a3afb7;
}

.profile-block .page-content .list-group-item .media-heading {
  font-size: 16px;
}

.profile-block .page-content .list-group-item .media-heading span {
  margin-left: 5px;
  color: #76838f;
  font-size: 1rem;
}

.profile-block .page-content .list-group-item .media .media:first-child {
  border-top: none;
}

.profile-block .profile-readMore {
  margin: 40px 0;
}

.profile-block .profile-brief {
  margin-top: 20px;
}

.profile-block .profile-uploaded {
  float: left;
  max-width: 220px;
  width: 100%;
  max-height: 150px;
  padding: 0 20px 20px 0;
}

.profile-block .panel-actions-keep{
  top: 8%;
}

.page-fb-wall .imgs-gallery {
  margin: -2px;
}

.page-fb-wall .imgs-gallery .gallery-item {
  display: block;
  border: 2px solid transparent;
}

.wall-attrs {
  list-style: none;
}

.wall-attrs .success {
  color: #11c26d;
}

.wall-attrs .attrs-meta {
  line-height: 30px;
}

.wall-attrs i {
  margin-right: 2px;
}

.wall-attrs .avatar {
  margin-left: 2px;
}

.wall-comment {
  position: relative;
  margin-bottom: 15px;
}

.wall-comment .comment-operation {
  position: absolute;
  right: 0;
  top: -10px;
  display: none;
}

.wall-comment:hover .comment-operation, .wall-comment:focus .comment-operation {
  display: block;
}

.wall-comment-reply .reply-operation {
  display: none;
}

.wall-comment-reply .reply-operation.active {
  display: block;
  margin-top: 15px;
}

.wall-person-info {
  position: relative;
  padding-left: 190px;
  padding-bottom: 45px;
}

.wall-person-info .person-avatar {
  position: absolute;
  top: -75px;
  left: 30px;
  width: 140px;
  height: 140px;
}

.wall-person-info .person-name {
  position: absolute;
  top: -55px;
  left: 190px;
  margin: 0;
}

.wall-person-info .person-name a {
  color: #fff;
}

.wall-person-info .person-name a:hover, .wall-person-info .person-name a:focus {
  text-decoration: none;
}

.wall-posting .form-control {
  border: none;
  border-bottom: 1px solid #e4eaec;
  border-radius: 0;
}

.wall-recent-comments .comments-view {
  border-top: 1px solid #e4eaec;
  padding: 10px 0;
  text-align: center;
}

@media (min-width: 1200px) {
  .page-fb-wall .card-img-top {
    height: 350px;
  }
}

@media (max-width: 479.98px) {
  .wall-person-info .person-name {
    font-size: 24px;
  }
}
/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
  }
  
  #nprogress .bar {
    background: #29d;  
    position: fixed;
    z-index: 9999;
    top: 66px;
    left: 0;  
    width: 100%;
    height: 3px;
  }
  
  /* Fancy blur effect */
  #nprogress .peg {
    display: none;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
  
    -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
  }
  
  /* Remove these to get rid of the spinner */
  #nprogress .spinner {
    display: none;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }
  
  #nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
  
    -webkit-animation: nprogress-spinner 400ms linear infinite;
            animation: nprogress-spinner 400ms linear infinite;
  }
  
  .nprogress-custom-parent {
    overflow: hidden;
    position: relative;
  }
  
  .nprogress-custom-parent #nprogress .spinner,
  .nprogress-custom-parent #nprogress .bar {
    position: absolute;
  }
  
  @-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.vb > .vb-dragger {
    z-index: 5;
    width: 10px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
        background-color 300ms ease-out,
        margin 300ms ease-out,
        height 300ms ease-out;
    transition:
        background-color 300ms ease-out,
        margin 300ms ease-out,
        height 300ms ease-out;
    background-color: rgba(0, 0, 0,0);
    /* margin: 5px 5px 5px 0; */
    margin: 5px 0px 5px 5px;
    border-radius: 2px;
    height: calc(100% - 10px);
    display: block;
    user-input: disabled;
    user-focus: ignore;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(0, 0, 0,.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(0, 0, 0,.5);
    margin: 0px;
    height: 100%;
    border-radius: 4px
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(0, 0, 0,.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(0, 0, 0,.5);
}
.detailed .list-group {
  background: transparent !important;
}

.detailed .list-group-item {
  background: #fff0;
  padding: 8px 10px;
  border-bottom: dashed 1px #d4d6dc4a;
}

.detailed-item-active {
  background-color: #ececec !important;
  border-bottom: dashed 1px #d4d6dc4a !important;
  border-top: 1px solid #37474f00 !important;
  border-right: 3px solid #f48024;
}

.detailed .list-group-item:hover{
  background-color: #ececec !important;
  border-bottom: dashed 1px #d4d6dc4a !important;
  border-top: 1px solid #37474f00 !important;
  border-right: 3px solid #f48024;
}

.detailed-remove {
  position: absolute;
  top: 16%;
  right: 2%;
  width: 20px;
  /* color: #eb6709; */
  height: 15px;
  border-radius: 0px;
  text-align: center;
  font-size: 16px;
}

.detailed .align-self-center {
  padding-left: 4px;
  padding-right: 5px !important;
}

.detailed .avatar {
  width: 24px !important;
}

.detailed .avatar img {
  border-radius: 3px;
}

.detailed .avatar-online i {
  background-color: #4d9bb3 !important;
  top: -5px !important;
  left: -5px !important;
  width: 10px !important;
}

.detailed .media-body h5 {
  padding-left: 10px;
  margin: 0px !important;
  word-spacing: 3px;
}

.detailed-item,
.feeds .detailed-item, .detail-tags {
  font-size: 1rem;
  line-height: 20px;
  color: #8a8c8d;
}

.detailed-item:hover {
  color: #4d9bb3;
}

.b-dashed {
  /* .detailed .media */
  border-bottom: dashed 1px #d4d6dc !important;
}
/* view */
code {
  background-color: #ddf3e7;
  border-radius: 4px;
  color: #29754d;
  font-size: 90%;
  padding: 3px 5px;
  white-space: normal; }

code[data-lang],
pre[data-lang],
pre[data-lang] code {
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 3;
  -o-tab-size: 3;
  tab-size: 3;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  border: none; }

pre[data-lang] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[data-lang],
pre[data-lang] {
  background: #eee; }

:not(pre) > code[data-lang] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal; }

/*--------custom---------*/
.white-t {
  margin-top: 10px; }

.white-b {
  margin-bottom: 10px; }

.hr-line-dashed {
  border-top: 1px dashed #e7eaec;
  margin: 20px 0; }

.pulse {
  /*margin:100px;*/
  top: 20px;
  right: 10px;
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  /*background: #cca92c;*/
  cursor: pointer;
  padding: 0;
  box-shadow: 0 0 0 rgba(92, 184, 92, 0.4);
  animation: pulse 2s infinite; }

.pulse:hover {
  animation: none; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0.4); }
  70% {
    box-shadow: 0 0 0 10px rgba(92, 184, 92, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0); } }

a:link {
  text-decoration: none; }

a:hover {
  cursor: pointer; }

.page {
  margin-left: auto; }

.html-content img {
  max-width: 98%;
  height: auto; }

/* 
.form-control{
  height: auto;
} */
/* ------------------main-nav-------------------- */
body {
  font-family: Arial, Verdana, "Lucida Grande", Helvetica, sans-serif;
  background: #f1f4f5; }

.dropdown-menu {
  margin: 0; }

.main-nav .navbar-brand {
  background: transparent url("/www/media/logo-256x256.png") no-repeat center center;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-size: auto 68%;
  width: 60px;
  opacity: 0.8; }

.main-nav .navbar-brand:hover {
  opacity: 1; }

.container-fluid.container {
  margin: auto; }

.main-nav .navbar {
  border-radius: 0;
  margin: 0;
  padding: 0;
  border-style: none;
  min-height: auto !important;
  /* height: 66px !important */ }

/*.main-nav .navbar-form {
    padding-top: 4px;
}*/
.main-nav .fal {
  font-size: 1.5em; }

.main-nav .navbar-brand {
  /*height: auto !important;*/
  min-height: auto !important; }

.nav-bg-geek {
  background: #29314e !important;
  /* #16161f | #29314e |#1b2b36 */
  color: #8d94ae; }

/*
.main-nav .navbar-toolbar .nav-link{
    padding: 0 auto;
    line-height: 56px;
}*/
/*.main-nav .navbar-toolbar .nav-link{
    padding: 20px;
    color: #76838f;
}*/
.main-nav .badge-pill.up {
  top: -16px; }

/*----------quick search ---------*/
.quick-search {
  box-shadow: none;
  margin-top: 1em; }

.quick-search .form-control {
  background: #132029;
  width: 300px;
  min-width: 300px;
  border-color: transparent;
  /*border-radius: 0 !important;*/ }

.quick-search .form-control:focus {
  border-color: #233d50; }

.quick-search .input-group-btn .btn {
  background: #21394a;
  border-color: transparent;
  padding: 2px 16px; }

.quick-search .form-control,
.quick-search .input-group-addon,
.quick-search .input-group-btn .btn {
  height: 2.6em;
  border-radius: 0 !important; }

/* --- HOME MAIN  */
@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .home-main #layout-left {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important; }
  .home-main #layout-center {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important; }
  .home-main #layout-right {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important; } }

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  .home-main #layout-left {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important; }
  .home-main #layout-center {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important; }
  .home-main #layout-right {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important; } }

@media screen and (min-width: 992px) {
  .home-main #layout-left {
    -ms-flex: 0 0 22% !important;
    flex: 0 0 22% !important;
    max-width: 22% !important; }
  .home-main #layout-right {
    -ms-flex: 0 0 28% !important;
    flex: 0 0 28% !important;
    max-width: 28% !important; }
  #layout-right .suggest-list {
    height: 540px !important; } }

@media only screen and (min-width: 1160px) {
  /* For mobile phones: */
  #layout-left {
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%; }
  #layout-center {
    margin-left: 1%;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
    max-width: 47%; }
  #layout-right {
    margin-left: 1%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%; }
  #layout-right .suggest-list {
    height: 450px !important; } }

.home-main h4 {
  color: #37474f !important; }

.post-title {
  font-size: 16px  !important;
  color: #37474fb3 !important; }

/*----LAYOUT--LEFT----*/
/*--------feeds-------*/
.feeds .media-body h5 {
  margin-top: 0px;
  margin-bottom: 0px; }

/* .feeds .list-group-item {
  background: #fff0;
  padding: 5px 5px !important;
  padding-left: 15px!important;
  border-bottom: dashed 1px #d4d6dc4a;
} */
.feeds .pinned-item {
  color: #4d9bb3 !important; }

/*----------Pinned ---------*/
.pinned,
.feeds {
  width: 95%; }

.pinned .list-group {
  background: transparent !important; }

.pinned .list-group-item,
.feeds .list-group-item {
  background: #fff0;
  padding: 8px 10px;
  border-bottom: dashed 1px #d4d6dc4a; }

.pinned-item-active {
  background-color: #ececec !important;
  border-bottom: dashed 1px #d4d6dc4a !important;
  border-top: 1px solid #37474f00 !important;
  border-right: 3px solid #f48024; }

.pinned .list-group-item:hover,
.feeds .list-group-item:hover,
.detail-tags .list-group-item:hover {
  background-color: #ececec !important;
  border-bottom: dashed 1px #d4d6dc4a !important;
  border-top: 1px solid #37474f00 !important;
  border-right: 3px solid #f48024; }

.pinned-remove {
  position: absolute;
  top: 16%;
  right: 2%;
  width: 20px;
  /* color: #eb6709; */
  height: 15px;
  border-radius: 0px;
  text-align: center;
  font-size: 16px; }

.pinned .align-self-center {
  padding-left: 4px;
  padding-right: 5px !important; }

.pinned .avatar {
  width: 24px !important; }

.pinned .avatar img {
  border-radius: 3px; }

.pinned .avatar-online i {
  background-color: #4d9bb3 !important;
  top: -5px !important;
  left: -5px !important;
  width: 10px !important; }

.pinned .media-body h5 {
  padding-left: 10px;
  margin: 0px !important;
  word-spacing: 3px; }

.pinned-item,
.feeds .pinned-item,
.detail-tags {
  font-size: 1rem;
  line-height: 20px;
  color: #8a8c8d; }

.pinned-item:hover {
  color: #4d9bb3; }

.b-dashed {
  /* .pinned .media */
  border-bottom: dashed 1px #d4d6dc !important; }

/* --- Home-Layout-Center --- */
.text-question,
.text-question:hover {
  color: #8185ca9c;
  font-size: 20px; }

/* -- Home-Layout-Right -- */
#layout-right .list-group-item:hover {
  cursor: pointer;
  background-color: rgba(228, 223, 218, 0.3); }

.box-sd {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.08) !important; }

.adw {
  position: absolute;
  width: 350px;
  right: 95%;
  display: none; }

.adw-item-body {
  display: block;
  margin: 10px 30px 0 0;
  overflow: hidden;
  width: 100%; }

.adw-item-content {
  position: relative;
  display: block;
  float: right;
  padding: 8px 15px;
  margin: 0 20px 10px 0;
  clear: both;
  color: #fff;
  width: 100%;
  padding-left: 40px;
  background-color: #fff;
  border-radius: 0.286rem; }

.topic-img {
  position: relative; }

.topic-img a {
  position: absolute;
  text-align: center; }

.topic-img a img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/*-------profile---------*/
.prof .prof-cover {
  overflow: hidden;
  height: 25rem;
  width: 100%;
  position: relative; }

.prof .prof-cover-def {
  /* background: #37474f url('~/www/media/bk_network2.svg') no-repeat center;  */
  background: #21394a url("https://i.cdn.net/wp-content/uploads/2016/12/map-header.svg") no-repeat center; }

.prof .prof-cover-alt {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%; }

.prof-nav.navbar {
  border-radius: 0;
  min-height: auto !important; }

.prof-nav .navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.prof-nav .navbar-brand {
  margin-right: 120px;
  position: relative;
  height: auto !important; }

.prof-nav .prof-avt {
  border: solid 5px #fff;
  width: 136px;
  height: 136px;
  position: absolute;
  bottom: 16px; }

.prof .prof-name {
  position: absolute;
  font-size: 30px;
  bottom: 110px;
  left: 180px;
  display: inline-block;
  width: 300px;
  line-height: 30px;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8); }

/* 
.prof-nav.navbar .nav-link {
    border-bottom: 2px solid transparent;
    padding: 0 20px;
    line-height: 50px;
    color: #ddd
} */
.prof-nav .nav-link:focus,
.prof-nav .nav-link:hover,
.prof-nav .active > .nav-link {
  border-bottom-color: #5eb34f;
  color: #fff; }

.prof-nav .dropdown-toggle::after {
  display: none; }

/* ------------------------ */
.panel-actions-keep {
  right: 10px; }

.list-group-item:hover {
  /* background-color: #f5f5f5; */
  border-bottom: dashed 1px #f5f5f5;
  border-top: dashed 1px #f5f5f5; }

/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr; }

/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */ }

.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */ }

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */ }

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap; }

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap; }

.CodeMirror-guttermarker {
  color: black; }

.CodeMirror-guttermarker-subtle {
  color: #999; }

/* CURSOR */
.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7; }

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1; }

.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  animation: blink 1.06s steps(1) infinite; }

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7; }

@keyframes blink {
  0% { }
  50% {
    background-color: transparent; }
  100% { } }

/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
  text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: -20px;
  overflow: hidden; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute; }

/* DEFAULT THEME */
.cm-s-default .cm-header {
  color: blue; }

.cm-s-default .cm-quote {
  color: #090; }

.cm-negative {
  color: #d44; }

.cm-positive {
  color: #292; }

.cm-header, .cm-strong {
  font-weight: bold; }

.cm-em {
  font-style: italic; }

.cm-link {
  text-decoration: underline; }

.cm-strikethrough {
  text-decoration: line-through; }

.cm-s-default .cm-keyword {
  color: #708; }

.cm-s-default .cm-atom {
  color: #219; }

.cm-s-default .cm-number {
  color: #164; }

.cm-s-default .cm-def {
  color: #00f; }

.cm-s-default .cm-variable-2 {
  color: #05a; }

.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
  color: #085; }

.cm-s-default .cm-comment {
  color: #a50; }

.cm-s-default .cm-string {
  color: #a11; }

.cm-s-default .cm-string-2 {
  color: #f50; }

.cm-s-default .cm-meta {
  color: #555; }

.cm-s-default .cm-qualifier {
  color: #555; }

.cm-s-default .cm-builtin {
  color: #30a; }

.cm-s-default .cm-bracket {
  color: #997; }

.cm-s-default .cm-tag {
  color: #170; }

.cm-s-default .cm-attribute {
  color: #00c; }

.cm-s-default .cm-hr {
  color: #999; }

.cm-s-default .cm-link {
  color: #00c; }

.cm-s-default .cm-error {
  color: #f00; }

.cm-invalidchar {
  color: #f00; }

.CodeMirror-composing {
  border-bottom: 2px solid; }

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0; }

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22; }

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3); }

.CodeMirror-activeline-background {
  background: #e8f2ff; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white; }

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative; }

.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent; }

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none; }

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0; }

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0; }

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3; }

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px; }

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important; }

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4; }

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent; }

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent; }

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent; }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */ }

.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual; }

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
  /* Force widget margins to stay inside of the container */ }

.CodeMirror-rtl pre {
  direction: rtl; }

.CodeMirror-code {
  outline: none; }

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  box-sizing: content-box; }

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none; }

.CodeMirror-measure pre {
  position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3; }

div.CodeMirror-dragcursors {
  visibility: visible; }

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible; }

.CodeMirror-selected {
  background: #d9d9d9; }

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

.CodeMirror-crosshair {
  cursor: crosshair; }

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0; }

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #d7d4f0; }

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4); }

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden; } }

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none; }

.v-md-container {
  background: #f5f5f5;
  border: solid 1px #ddd; }

.v-md-container > .v-md-toolbar {
  padding: 8px 5px;
  border-bottom: solid 1px #ddd;
  height: 52px; }

.v-md-wrapper {
  position: relative; }

.v-md-preview {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  padding: 5px;
  overflow: auto;
  color: #333;
  height: auto !important; }

.v-md-container .clipboard-text {
  height: 250px; }

.v-md-fullscreen {
  width: 100%;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  z-index: 99999; }

.v-md-container .CodeMirror {
  font-family: Arial, Helvetica, sans-serif; }

.v-md-fullscreen .v-md-preview {
  position: fixed !important;
  top: 52px; }

.CodeMirror-fullscreen {
  position: fixed !important;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto !important;
  z-index: 9; }

.v-md-container .modal {
  z-index: 1080 !important; }


/*# sourceMappingURL=app.css.map*/